[submodule "vinland-technology-compliance-utils"]
	path = vinland-technology-compliance-utils
	url = https://github.com/vinland-technology/compliance-utils
[submodule "armijnhemel-compliance-scripts"]
	path = armijnhemel-compliance-scripts
	url = https://github.com/armijnhemel/compliance-scripts
[submodule "vinland-technology-compliance-tool-collection"]
	path = vinland-technology-compliance-tool-collection
	url = https://github.com/vinland-technology/compliance-tool-collection
[submodule "vinland-technology-scancode-manifestor"]
	path = vinland-technology-scancode-manifestor
	url = https://github.com/vinland-technology/scancode-manifestor.git
[submodule "maxhbr-LDBcollector-generated"]
	path = maxhbr-LDBcollector-generated
	url = https://github.com/maxhbr/LDBcollector
	branch = generated
[submodule "maxhbr-yacp"]
	path = maxhbr-yacp
	url = https://github.com/maxhbr/yacp
[submodule "ostc-eu.org-aliens4friends"]
	path = ostc-eu.org-aliens4friends
	url = https://git.ostc-eu.org/oss-compliance/toolchain/aliens4friends
